.gitignore
.venv

dataset/
archive/
npys/

*.npy

preprocessing/y_train.npy
preprocessing/y_test.npy
preprocessing/X_train.npy
preprocessing/X_test.npy
npys/y_train.npy
npys/y_test.npy
npys/X_train.npy
npys/X_test.npy
